html {
  scroll-behavior: smooth;
}
body {
  color: #133622 !important;
  background-color: #f7faff !important;
  font-family: sans-serif;
  background: url(./image-icon-pdf/backgroundv2.webp);
  max-width: 100%;
  height: 500vh;
}
h2,
h3 {
  font-family: sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: -1px -1px -1px #133622;
}
li {
  list-style-type: none;
}
/********************HEADER******************/
.navbar {
  background-color: #fafafa;
  opacity: 0.9;
  height: 42px;
  transition: 0.7s;
}
.navbar-nav {
  width: 80% !important;
  margin: 0 auto;
  justify-content: space-between;
}
header {
  text-align: center;
  height: 100vh;
  background: url(./image-icon-pdf/backsite.webp) no-repeat 50% 50%;
  box-shadow: 5px 5px 8px #111;
  background-size: cover;
}
h1 {
  padding: 90px 0 10px 0;
  font-size: sans-serif;
  font-size: 4.3em;
  text-transform: uppercase;
}
#line {
  height: 1px;
  background-color: rgb(55, 55, 56);
  width: 25%;
  margin: 0 auto;
}
h2 {
  padding: 20px 0 50px 0;
  font-size: 3em;
  text-transform: uppercase;
}
.presentation {
  height: 240px;
  margin-top: 20px;
}
.infos {
  border: 1px solid #133622;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
.photo {
  border: 1px solid #133622;
  position: relative;
}
.photo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;
  max-width: 90%;
  border-radius: 3px;
  box-shadow: 0 0 20px #111;
}
header .button {
  margin-top: 45px;
}
header .button a {
  border: 1px solid #b3aca7;
  padding: 20px 80px;
  width: 300px;
}
header .button:hover a {
  background: #5eb172;
  color: #e2dedb;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
/**************************Compétences**************************/

#competences {
  padding: 80px 80px 80px 50px;
  margin: 20px 0 0 6%;
  height: 620px;
  width: 47%;
  max-width: 640px;
  background: url(./image-icon-pdf/backsite.webp) no-repeat 50% 50%;
  clip-path: polygon(0 6%, 96% 0, 90% 96%, 0 90%);
}
#competences .bar {
  padding: 30px 0 4px 0;
  letter-spacing: 0.1em;
}
/************************Formations****************************/

#formations {
  position: relative;
  top: -200px;
  float: right;
  margin-right: 5%;
  padding: 110px 0 60px 50px;
  width: 45%;
  max-width: 660px;
  background: url(./image-icon-pdf/backsite.webp) no-repeat 50% 50%;
  clip-path: polygon(0 4%, 100% 9%, 98% 97%, 2% 99%);
}
#autodidacte {
  padding: 20px 0 0 5%;
}
#gart {
  padding: 50px 0 0 10%;
}
#ocr {
  padding: 70px 0 0 15%;
}
#formations h4 {
  font-weight: bold;
  letter-spacing: 0.08em;
  padding-bottom: 10px;
  color: #133622;
}
.counter {
  display: flex;
  text-align: center;
}
.data {
  border: 1px solid #133622;
  width: 170px;
  margin: 0 4%;
  box-shadow: 0 0 8px #5e5e5e;
  padding: 5px 20px;
}
.counter-value {
  font-size: 2em;
}
.data-span {
  font-size: 1.8em;
}

/******************Parcours************************/
#parcours {
  max-width: 800px;
  margin: 640px auto 180px auto;
  padding: 40px 30px 100px 30px;
  background: url(./image-icon-pdf/backp2.webp) no-repeat 50% 50%;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #1d1f1e;
}
#parcours h3 {
  font-size: 2.5em;
  padding-bottom: 30px;
  color: #929292;
}
#parcours h4 {
  font-size: 1.6em;
  color: #1fad36;
  margin-left: 20px;
}
#parcours h5 {
  font-size: 1em;
  font-style: italic;
  color: #555555;
  margin-left: 20px;
}
#parcours p {
  line-height: 1.9em;
  color: #4b4b4b;
}
.line {
  border-top: 3px solid;
  border-image: linear-gradient(
    to right,
    transparent,
    #06a046,
    #96d4a4,
    transparent
  );
  border-image-slice: 1;
}
.line:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}
.line:nth-child(even) {
  border-left: 3px solid;
  padding-left: 0;
}

/*********************HOBBIES&COMP********************/
#other-skills {
  margin-top: 80px;
  padding: 50px 100px 100px 100px;
  width: 100%;
  background: url(./image-icon-pdf/backsite.webp);
  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
}
#other-skills h3 {
  transform: rotate(-3.2deg);
  font-size: 3em;
  padding-top: 30px;
  text-shadow: -1px 1px 0px #96d4a4;
  color: #133622;
}
.cloud {
  text-align: center;
  padding: 50px 0;
  font-size: 2em;
  text-transform: uppercase;
}

/*****************FOOTER***************/
footer {
  background: url(./image-icon-pdf/backp2.webp) 50% 0% no-repeat;
  background-size: cover;
  text-align: center;
  padding: 160px 50px 5 50px;
}
footer h3 {
  padding: 0 0 60px 0;
  font-size: 2.5em;
  color: #929292;
}
.footer-icons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 60%;
}
.network {
  font-size: 4em;
  border: 1px solid #133622;
  padding: 30px 45px;
  color: #5eb172;
  z-index: -1 !important;
  border-radius: 50%;
}
.network:hover {
  background: #133622;
  color: #96d4a4;
  transition: all 0.3s ease-in-out;
}
.form-container {
  padding-top: 2px;
}
#reused_form {
  position: relative;
  margin: 50px auto;
}
input {
  font-size: 0.85em;
  width: 470px;
  height: 50px;
  padding: 0px 15px;
  background: transparent;
  outline: none;
  color: #133622;
  border: 1px solid #5eb172;
  border-bottom: none;
}
input:hover {
  background: #96d4a4;
  transition: all 0.3s ease-in-out;
}
textarea {
  width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #133622;
  border: 1px solid #96d4a4;
  resize: none;
}
textarea:hover {
  background: #96d4a4;
  transition: all 0.3s ease-in-out;
}
.form-button {
  background: transparent;
  border: 1px solid #5eb172;
  padding: 20px 75px;
  margin: 14px 0 -20px 0;
}
.form-button:hover {
  color: #133622;
  background: #96d4a4;
  transition: all 0.3s ease-in-out;
}
.arrow {
  margin: -20 auto;
  padding-top: 15px;
  animation: arrow linear 1.5s;
  animation-iteration-count: infinite;
}
@keyframes arrow {
  0% {
    transform: translateY(0px);
  }
  38% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.arrow a {
  font-size: 2em;
  border: none;
  color: #5eb172;
}
.arrow:hover i {
  transform: scale(1.6);
  transition: 0.5s ease-in-out;
  color: #133622;
}
footer p {
  font-size: 0.9em;
  letter-spacing: 0.2em;
}
/* ************************Media Queries***************** */
@media screen and (max-width: 900px) {
  .infos h5,
  .typed {
    font-size: 0.9em;
  }
  #competences {
    margin-left: 1%;
  }
  #formations {
    margin-right: 1%;
  }
  .network {
    font-size: 2em;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 770px) {
  .navbar {
    display: none !important;
  }
  .fixed-top {
    position: unset !important;
  }
  h1,
  h2 {
    font-size: 2em;
  }
  #competences {
    width: 80%;
    margin-left: 10%;
  }
  #formations {
    margin: 210px 0 0 10%;
    width: 80%;
    float: none;
    display: block;
  }
  .counter-value {
    font-size: 1em;
  }
  .data-span {
    font-size: 0.8em;
  }
  #parcours {
    margin-top: -50px;
  }
  #other-skills h3,
  footer h3 {
    font-size: 2em;
  }
  .cloud {
    font-size: 1em;
  }
  .network {
    font-size: 1.4em;
    padding: 14px 20px;
  }
  input,
  textarea {
    width: 300px;
  }
}
@media screen and (max-width: 520px) {
  h1 {
    padding-top: 20px;
  }
  h3 {
    font-size: 1em !important;
  }
  #gart,
  #ocr {
    padding: 50px 0 0 0;
  }
  #other-skils {
    display: none;
  }
}
